*.bak
*.env
*.launch
*.mdfd
*.orig
*.sublime-workspace
*~
.DS_Store
.c9/
.classpath
.env
.env.*
.project
.settings/
.vscode/*
/.log*
/.sass-cache
/connect.lock
/coverage/
/dist/
/libpeerconnection.log
/out-tsc/
/tmp/
Thumbs.db
desktop.ini
node_modules/
npm-debug.log
testem.log
yarn-error.log
~*

!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json