*.bak
*.launch
*.mdfd
*.orig
*.sublime-workspace
*~
.DS_Store
.c9/
.classpath
.project
.settings/
.vscode/*
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/.log*
/out-tsc
/typings
Thumbs.db
desktop.ini
dist/
node_modules/
npm-debug.log
testem.log
tmp
yarn-error.log
~*

!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
